{% block tabsHeader %}
    <!-- Nav tabs -->
    <div>
        <div class="tabsymbols">
            <div class="icontab"><img src="{{ app.request.basepath }}/img/setttings_icon_blue.svg" class="iconimage"></div>
            <div class="icontab"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage"></div>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
            <li role="presentation" class="active"><a href="#venuesList" aria-controls="entries" role="tab" data-toggle="tab">{{ 'Venues'|trans }}</a></li>

            <li role="presentation"><a href="#map" role="tab" data-toggle="tab" onclick="">{{ 'Map'|trans }}</a></li>

        </ul>

    </div>
    <script>
        function clickMap(){
            $(document).trigger("rerenderMap");
        }
    </script>

{% endblock %}