{% extends 'Base/base.html.twig' %}

{% block head %}
    {% import 'Shared/highcharts.html.twig' as highcharts %}
    {{ highcharts.head() }}

    <script type="text/javascript">
    $(document).ready(function() {
        Highcharts.chart('container', {
            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },


            title: {
                text: "Artists’ Nationality by Exhibiting Country"
            },

            xAxis: {
                categories: {{ nationalities|json_encode|raw }}
            },

            yAxis: {
                categories: {{ countries|json_encode|raw }},
                title: null
            },

            colorAxis: {
                min: 0,
                minColor: '#FFFFFF',
                maxColor: Highcharts.getOptions().colors[0]
            },

            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                symbolHeight: 280
            },

            tooltip: {
                formatter: function () {
                    return  'In exhibitions in ' + this.series.yAxis.categories[this.point.y]
                        + ', ' + this.point.total + ' catalogue entries (' + Highcharts.numberFormat(this.point.value, 1) + '%)  '
                        + ' are from ' + this.series.xAxis.categories[this.point.x] + '-artists';
                }
            },

            series: [{
                name: 'Sales per employee',
                borderWidth: 1,
                data: {{ data|json_encode|raw }},
                dataLabels: {
                    format: '{point.value:.1f}',
                    enabled: true,
                    color: '#000000'
                }
            }]

        });
    });
    </script>
{% endblock %}

{% block body %}
    <div id="container" style="width: 100%; margin: 0 auto;"></div>

{% endblock %}
