{% import 'Shared/highcharts.html.twig' as highcharts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#container-locations-countries').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} Organizing Bodies (<b>{point.percentage:.1f}%</b>)'
                },
                series: [{
                    name: 'Number of Organizing Bodies',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ data|raw }}
                }],
                plotOptions: {
                    pie: {
                    },
                    series: {
                        events: {
                            click: function (event) {
                                var countryCode = event.point.id;
                                if (countryCode) {
                                    var url = '{{ path('search-index', { 'entity': 'Organizer', 'filter': filter })|raw }}';
                                    url += '&filter[organizer][geoname][]=' + encodeURIComponent(countryCode);

                                    window.open(url);
                                }
                            }
                        }
                    }
                },
                exporting: {
                    csv: {
                        {{ highcharts.pieChartCategoryHeader('Country') }}
                    }
                }
            });
        });
    </script>

    <h3 class="chart-header" data-collapse="container-locations-countries"><span class="chartsymbol">+</span>Countries of Organizing Bodies<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-locations-countries" style="width: 100%; height: 400px; margin: 0 auto;"></div>
