    <script type="text/javascript">

    $(document).ready(function() {
        $('#container-distribution').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: ' '
            },
            subtitle: {
                // text: 'Median: {{ data_median }}'
            },
            xAxis: {
                min: 1,
                type: 'logarithmic',
                // max: 150,
                minorTickInterval: 0.1,
                title: {
                    text: 'Number of Exhibitions'
                }
            },
            yAxis: {
                type: 'logarithmic',
                minorTickInterval: 0.1,
                startOnTick: false,
                title: {
                    text: 'Number of Artists'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                headerFormat: '', // '<b>{series.name}</b><br />',
                pointFormat: '{point.y} Artists with {point.x} exhibitions'
            },
            series: [
            {
                type: 'column',
                data: {{ data|raw }},
                pointStart: 1,
                pointWidth: 10
            }
            ]
        });
    });
    </script>

    <h3 class="chart-header" data-collapse="container-distribution"><span class="chartsymbol">+</span>Exhibitions per Person<span class="charttypeTitle">(Bar Chart)</span></h3>
    <div class="collapse" id="container-distribution" style="width: 100%;  height: 400px; margin:auto;"></div>
