    <script type="text/javascript">
        $(document).ready(function() {
            $('#container-by-year').highcharts({
                chart: {
                    defaultSeriesType: 'column'
                },
                title: {
                    text: ' '
                },
                subtitle: {
                    text: {{ subtitle|raw }}
                },
                xAxis: {
                    title: {
                        enabled: false, // only for export-data.js
                        text: 'Year'
                    },
                    categories: {{ categories|raw }},
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                        }
                    }
                },
                yAxis: [
                    {
                        title: {
                            text: ''
                        },
                        min: 0,
                        opposite: true
                    },
                    {
                        min: 0,
                        title: {
                            text: 'Number of Artists'
                        }
                    }
                ],
                tooltip: {
                    formatter: function() {
                        return '<b>'
                            + Highcharts.numberFormat(this.y, 0)
                            + ' persons '
                            + (this.series.name == 'Number of Artists died' ? 'died' : 'born')
                            + ' in '
                            + this.point.name
                            + '</b>';
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal',
                        borderWidth: 1,
                        groupPadding: 0,
                        pointPadding: 0
                    }
                },
                series: [
                    {
                        type: 'line',
                        marker: {
                            enabled: false
                        },
                        yAxis: 1,
                        name: 'Number of Artists born',
                        data: {{ person_birth|raw }},
                        stack: 'birth',
                        color: '#e6550d'
                    },
                    {
                        type: 'line',
                        marker: {
                            enabled: false
                        },
                        yAxis: 1,
                        name: 'Number of Artists died',
                        data: {{ person_death|raw }},
                        stack: 'death',
                        color: '#303030'
                    }
                ]
            });
        });
    </script>

    <h3 class="chart-header" data-collapse="container-by-year"><span class="chartsymbol">+</span>Artists by Year of Birth/Death<span class="charttypeTitle">(Line Chart)</span></h3>
    <div class="collapse" id="container-by-year" style="width:100%; height: 400px; margin: 0 auto"></div>
