{% extends 'Base/base.html.twig' %}

{% block body %}

    <div class="w-container">
        <h2 class="heading small">Cooperating Institutions</h2>
    </div>



    <div class="container-5 w-container">
        <div class="entry-content">
            <p class="artist-text">We thank the following cooperating institutions for their vital support of our project:</p>
            <p class="artist-text" style="font-weight: bold">Austria:</p>
            <p class="artist-text">–&nbsp;<a class="external-link-new-window" href="http://bibliothek.univie.ac.at/fb-kunstgeschichte/art_history_library.html" target="_blank" rel="noopener">Art History Library</a>, Vienna University Library</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://www.caa.tuwien.ac.at/cvl/" target="_blank" rel="noopener">Computer Vision Lab</a>, TU, Vienna</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://www.k-haus.at/de/kuenstlerhaus/archiv/" target="_blank" rel="noopener">Künstlerhaus Archiv,</a>&nbsp;Vienna</p>
            <p class="artist-text" style="font-weight: bold">Canada:</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://arc.library.carleton.ca/" target="_blank" rel="noopener">Archives and Research Collections of Carleton University</a>, Ottawa</p>
            <p class="artist-text" style="font-weight: bold">Czech Republic:</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://upm.cz/?language=en" target="_blank" rel="noopener">Library of the Museum of Decorative Arts in Prague</a>, Prague</p>
            <p class="artist-text" style="font-weight: bold">France:</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.inha.fr/en/index.html#" target="_blank" rel="noopener">Art History National Institute Library</a>, Paris</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://artlas.ens.fr/en/" target="_blank" rel="noopener">Artl@s</a>, Paris</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://artsdecoratifs.e-sezhame.fr/index" target="_blank" rel="noopener">Bibliothèque des Arts décoratifs</a>, Paris</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://bibliothequekandinsky.centrepompidou.fr/medias/medias.aspx?INSTANCE=INCIPIO" target="_blank" rel="noopener">Bibliothèque Kandinsky</a>, Paris</p>
            <p class="artist-text" style="font-weight: bold">Germany:</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.bsb-muenchen.de/en/" target="_blank" rel="noopener">Bayerische Staatsbibliothek</a>, Munich</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.skd.museum/en/" target="_blank" rel="noopener">Staatliche Kunstsammlungen Dresden</a>, Dresden</p>
            <p class="artist-text">– <a href="http://www.ub.uni-heidelberg.de/Englisch/Welcome.html">University Library Heidelberg</a>, University of Heidelberg</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.ub.uni-koeln.de/index_eng.html" target="_blank" rel="noopener">University and City Library of Cologne</a>, University of Cologne</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://en.zikg.eu/" target="_blank" rel="noopener">Zentralinstitut für Kunstgeschichte</a>, Munich</p>
            <p class="artist-text" style="font-weight: bold">Hungary:</p>
            <p class="artist-text">–<a href="http://www.fszek.hu/english">Metropolitan Ervin Szabó Library</a>, Budapest</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://www.szepmuveszeti.hu/library" target="_blank" rel="noopener">Museum of Fine Arts and Library</a>, Budapest</p>
            <p class="artist-text" style="font-weight: bold">Italy:</p>
            <p class="artist-text">– <a href="http://www.archeologica.librari.beniculturali.it/index.php?it/1/home">Biblioteca di Archeologia e di Storia dell’Arte</a>, Rome</p>
            <p class="artist-text">–&nbsp;<a href="https://www.sba.unifi.it/p385.html">Biblioteca Umanistica dell’Università degli Studi di Firenze</a>, Florence</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://www.khi.fi.it/2169/en" target="_blank" rel="noopener">Kunsthistorisches Institute in Florenz, Max-Planck-Institut</a>, Florence</p>
            <p class="artist-text" style="font-weight: bold">The Netherlands:</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.mskgent.be/en/home" target="_blank" rel="noopener">Museum of Fine Arts</a>, Gent</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.rijksmuseum.nl/en/research/rijksmuseum-research-library" target="_blank" rel="noopener">Rijksmuseum Research Library</a>, Amsterdam</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://www.stedelijk.nl/en" target="_blank" rel="noopener">Stedelijk Museum Amsterdam</a>, Amsterdam</p>
            <p class="artist-text" style="font-weight: bold">Russia:</p>
            <p class="artist-text">–&nbsp;<a class="external-link-new-window" href="http://www.nlr.ru/eng/" target="_blank" rel="noopener">The National Library of Russia</a>, St Petersburg</p>
            <p class="artist-text">–&nbsp;<a class="external-link-new-window" href="https://www.tretyakovgallery.ru/en/" target="_blank" rel="noopener">Tretyakov Gallery</a>, Moscow</p>
            <p class="artist-text" style="font-weight: bold">Spain:</p>
            <p class="artist-text">–&nbsp;<a class="external-link-new-window" href="http://crai.ub.edu/ca/coneix-el-crai/biblioteques/biblioteca-belles-arts" target="_blank" rel="noopener">Universitat de Barcelona. Centre de Recursos per a l’Aprenentatge i la Investigació</a>, Barcelona</p>
            <p class="artist-text" style="font-weight: bold">Sweden:</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://www.nationalmuseum.se/sv/English-startpage/Collections/Research/Art-Library/" target="_blank" rel="noopener">Konstbiblioteket,&nbsp;Moderna Museet &amp; Nationalmuseum</a>, Stockholm</p>
            <p class="artist-text" style="font-weight: bold">Switzerland:</p>
            <p class="artist-text">–<a href="http://www.kunsthaus.ch/">Bibliothek des Kunsthauses Zürich</a>, Zurich</p>
            <p class="artist-text">–<a href="https://www.sik-isea.ch/en-us/Art-Archives-Library/Library/General-information">Swiss Institute for Art Research (SIK-ISEA), Library</a>, Zurich</p>
            <p class="artist-text" style="font-weight: bold">UK:</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.bl.uk/" target="_blank" rel="noopener">The British Library</a>, London, UK</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://www.vam.ac.uk/page/n/national-art-library/" target="_blank" rel="noopener">National Art Library – Victoria and Albert Museum</a>, London, UK</p>
            <p class="artist-text" style="font-weight: bold">USA:</p>
            <p class="artist-text">–&nbsp;<a class="external-link-new-window" href="https://www.aaa.si.edu/" target="_blank" rel="noopener">Archives of American Art | Smithsonian Institution</a>, Washington DC</p>
            <p class="artist-text">– <a class="external-link-new-window" href="http://beinecke.library.yale.edu/" target="_blank" rel="noopener">Beinecke Rare Book &amp; Manuscript Library</a>, Yale University Library, New Haven, Conneticut, USA</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.frick.org/research/library" target="_blank" rel="noopener">Frick Art Reference Library</a>, New York</p>
            <p class="artist-text">– <a class="external-link-new-window" href="https://www.nypl.org/" target="_blank" rel="noopener">New York Public Library</a>, New York City, USA</p>
        </div><!-- .entry-content -->
    </div>
{% endblock %}
