{% extends 'Base/base.html.twig' %}

{% block body %}
    <p>
        Within just a few years, before World War I, the design, and indeed the very notion of (Western) painting, changed radically. The history of early 20th century European modern art has often been written as the development of new forms and “isms”. Conversely, little systematic research has been done about how those forms and “isms” were presented to and received by the public, and whether and how painters used specific strategies to gain an audience. In the 19th century, exhibitions had become the primary place to initiate discussions about advances in art and this seems also to be the case after 1900.
    </p>

    <p>
        The project aims to study the history of a crucial moment of modern European painting from the perspective of exhibitions. In order to manage an exhaustive research we will focus on a period of 11 years, from 1905 to 1915. This time frame covers a particular density of avant-garde movements such as Fauvism (the term originates 1905 at the <a href="{{ path('exhibition', { 'id': 30 }) }}">Salon d’Automne</a> in Paris), Expressionism, Cubism, Futurism, Rayonism, Orphism, Suprematism (springing up in the <a href="{{ path('exhibition', { 'id': 732 }) }}">December 1915 exhibition 0,10</a> in St. Petersburg, already in the middle of a World War).
    </p>

    <p>
        The first step of the project is the creation of a database of exhibitions performed in this period, where modern European painters participated. The database will be as exhaustive as possible and open access. Within the time frame it will serve to outline: 1. the geography and networks of modern painting, 2. the chronology and geography of exhibiting new forms and propagating “isms”, and 3. the exhibition strategies of modern painters.
    </p>
{% endblock %}
