{% block tabsHeader %}
    <!-- Nav tabs -->
    <div>
        <div class="tabsymbols">
            <a style="margin-top: 17px" href="{{ path('logout') }}">Logout</a>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
            <li role="presentation" class="active"><a href="#queries" aria-controls="entries" role="tab" data-toggle="tab">{{ 'Saved Queries'|trans }}</a></li>

        </ul>

        <script>

        </script>

    </div>

{% endblock %}