<div role="tabpanel" class="tab-pane" id="stats">
    {% import 'Shared/highcharts.html.twig' as highcharts %}
    {{ highcharts.head() }}

    {{ render_hinclude(controller('AppBundle\\Controller\\ExhibitionController::statsActionDetail', { id: currentPageId }), { 'default': 'Loading...' }) }}
</div>