<div role="tabpanel" class="tab-pane" id="stats">

    <script src="https://raw.github.com/mnot/hinclude/v0.9.1/hinclude.js"></script>


    {{ render_hinclude(url('location'), {'default': 'Loading...'}) }}

    {{ render(controller(
            'AppBundle\\Controller\\StatisticsController::exhibitionNationalityAction'
        )) }}
</div>