{% block tabsHeader %}
    <!-- Nav tabs -->
    <div>
        <div class="tabsymbols">
            <div class="icontab"><img src="images/setttings_icon_blue.svg" class="iconimage"></div>
            <div class="icontab"><img src="images/download_icon_blue.svg" class="iconimage"></div>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
            {% if catalogueEntries is not empty %}
                <li role="presentation" class="active"><a href="#entries" aria-controls="entries" role="tab" data-toggle="tab">{{ 'Catalogue Entries'|trans }}</a></li>
            {% endif %}
            {# co-appearnces #}
            {% if similar|length > 0 %}
                <li role="presentation"><a href="#similars" aria-controls="similars" role="tab" data-toggle="tab">{{ 'Similars'|trans }}</a></li>
            {% endif %}
            {# authority files #}
                <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">{{ 'Statistics'|trans }}</a></li>
        </ul>

    </div>

{% endblock %}