body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

a {
  text-decoration: none;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.brand {
  float: right;
}

.text-block {
  margin-top: 19px;
  color: #5b6974;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav-link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #95a3ac;
  font-weight: 400;
}

.nav-link:hover {
  color: #1869a3;
}

.nav-link.active {
  border-bottom: 2px solid #1869a3;
  color: #1869a3;
  font-weight: 700;
}

.nav-link.submenu {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 12px;
}

.navbar {
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: transparent;
}

.body {
  background-color: #f6f7fb;
}

.heading {
  margin-bottom: 25px;
  color: #5b6974;
  font-size: 28px;
  font-weight: 400;
}

.heading.small {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.searchbarcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.searchbarinputcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 44%, .19);
  border-radius: 5px;
  background-color: #fff;
}

.searchbuttoncontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #1869a3;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  padding: 13px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.image {
  width: 20px;
  height: 20px;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  padding: 10px 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid hsla(0, 0%, 100%, .53);
}

.text-block-2 {
  font-size: 12px;
  letter-spacing: 1px;
}

.contentcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 44%, .19);
  border-radius: 5px;
  background-color: #fff;
}

.contentcontainer.nopadding {
  margin-bottom: 50px;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.contenttabcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px none #000;
}

.tabsymbols {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tabslinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-bottom: 0px;
  padding: 19px 7px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px none #1869a3;
  color: #a4b1ba;
  font-weight: 400;
  text-decoration: none;
}

.tabslinks:hover {
  color: #1869a3;
}

.tabslinks.active {
  margin-bottom: -2px;
  border-bottom-style: solid;
  color: #05121b;
}

.tabslink {
  text-decoration: none;
}

.link {
  margin-top: 1px;
}

.tabslinktext {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #5b6974;
  font-size: 12px;
  font-weight: 400;
}

.tabslinktext:hover {
  color: #1869a3;
}

.tabslinktext.active {
  color: #1869a3;
  font-weight: 700;
}

.icontab {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  padding: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #a4b1ba;
  border-radius: 3px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  cursor: pointer;
}

.icontab:hover {
  background-color: #f0f0f0;
}

.maincontainerheader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-bottom: 1px solid #a4b1ba;
}

.iconimage {
  width: 17px;
  height: 17px;
}

.listviewcontainer {
  margin-top: 25px;
}

.listviewheading {
  color: #95a3ac;
  font-size: 12px;
  line-height: 40px;
  font-weight: 700;
}

.listviewrow {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px none #a4b1ba;
  color: #a4b1ba;
  font-size: 12px;
  line-height: 15px;
}

.date {
  font-weight: 700;
}

.title {
  color: #5b6974;
  font-weight: 700;
}

.lefthalf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 320px;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 3;
  -webkit-flex: 3 3;
  -ms-flex: 3 3;
  flex: 3 3;
}

.maphalf {
  -webkit-box-flex: 4;
  -webkit-flex: 4 4;
  -ms-flex: 4 4;
  flex: 4 4;
  background-color: #dfe0e0;
}

.menu_level_1 {
  position: absolute;
  display: none;
  margin-left: 10px;
  padding-left: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 44%, .19);
  border-radius: 5px;
  background-color: #fff;
}

.menu_level_1.nav-link {
  display: none;
  min-width: 100px;
}

.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.submit-button {
  width: 180px;
  padding-right: 57px;
  padding-left: 57px;
  border-radius: 5px;
  background-color: #1869a3;
}

.select-field {
  height: 100%;
  border-style: none;
  background-color: transparent;
}

.text-field {
  height: 100%;
}

.div-block-3 {
  height: 100%;
}

.text-field-class {
  height: 100%;
}

.subheader {
  margin-top: 0px;
  margin-bottom: -28px;
  margin-left: 3px;
  color: #a6b3bc;
  font-size: 10px;
}

.artist-information-label {
  width: 120px;
  color: #5b6974;
  font-size: 12px;
  font-weight: 700;
}

.artist-information-text {
  color: #a4b1ba;
  font-size: 12px;
}

.artist-information-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.artist-text {
  margin-top: 20px;
  color: #a4b1ba;
  font-size: 14px;
  line-height: 30px;
}

.no_data_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  color: #d1d1d1;
  font-size: 12px;
}

.home-menu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-menu-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.home-menu-item-image {
  width: 30px;
  height: 30px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 135px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 15px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .73)), to(hsla(0, 0%, 100%, .73))), url('../images/venue.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .73), hsla(0, 0%, 100%, .73)), url('../images/venue.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 401px;
  -webkit-transition: background-color 200ms ease, border 200ms ease;
  transition: background-color 200ms ease, border 200ms ease;
  color: #5b6974;
  font-size: 12px;
  cursor: pointer;
}

.link-block:hover {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 44%, .19);
  border-radius: 5px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .25)), to(hsla(0, 0%, 100%, .25))), url('../images/venue.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .25), hsla(0, 0%, 100%, .25)), url('../images/venue.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 401px;
  color: #fff;
  text-shadow: 1px 1px 6px #000;
}

.link-block.exhibition {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .76)), to(hsla(0, 0%, 100%, .76))), url('../images/exhibition.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .76), hsla(0, 0%, 100%, .76)), url('../images/exhibition.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.link-block.exhibitions {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .8)), to(hsla(0, 0%, 100%, .8))), url('../images/exhibition.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .8), hsla(0, 0%, 100%, .8)), url('../images/exhibition.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.home-menu-item-text {
  margin-left: 0px;
  font-size: 14px;
  font-weight: 700;
}

.container {
  margin-top: 50px;
}

.filter-combination-container {
  margin-top: 10px;
  margin-right: 210px;
  margin-left: 15px;
}

.filters-heading {
  margin-bottom: 10px;
  color: #95a3ac;
  font-size: 12px;
  font-weight: 700;
}

.filter-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 10px;
}

.first-filter-term {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #5b6974;
  font-weight: 700;
}

.is_equal_to {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 110px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #95a3ac;
  text-align: center;
}

.subfilter-buttons-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  margin-left: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.subfilter-remove {
  width: 120px;
  margin-left: 10px;
  padding: 2px 0px;
  border: 1px solid #c71f59;
  border-radius: 2px;
  background-color: transparent;
  color: #c71f59;
  font-size: 10px;
  text-align: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  max-width: 500px;
  margin-right: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 12px;
}

.subfilter-add-to-account {
  width: 120px;
  margin-left: 0px;
  padding: 2px 0px;
  border: 1px solid #5b6974;
  border-radius: 2px;
  background-color: transparent;
  color: #5b6974;
  font-size: 10px;
  text-align: center;
}

.team-member-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.image-2 {
  display: block;
  width: 100%;
  height: auto;
  max-height: auto;
  max-width: 100px;
  margin-right: 25px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.team-member-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-team-member {
  margin-bottom: 25px;
  color: #5b6974;
  font-size: 16px;
  font-weight: 400;
}

.heading-team-member.small {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.container-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading-team-member-main {
  margin-bottom: 25px;
  color: #5b6974;
  font-size: 16px;
  font-weight: 700;
}

.heading-team-member-main.small {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
}

.member-image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  margin-right: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.artist-information-container-qucikstat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.statcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.artist-information-text-stats {
  width: 50%;
  color: #a4b1ba;
  font-size: 12px;
}

@media (max-width: 991px) {
  .container-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .filter-combination-container {
    margin-right: 15px;
  }
  .div-block-5 {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 767px) {
  .searchbarcontainer {
    height: 100%;
  }
  .searchbarinputcontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: none;
    background-color: transparent;
  }
  .searchbuttoncontainer {
    height: 45px;
    margin-left: 0px;
  }
  .contentcontainer.nopadding {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .tabsymbols {
    display: none;
  }
  .maphalf {
    display: none;
  }
  .filter {
    height: 200px;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .submit-button {
    width: 90%;
  }
  .select-field {
    height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .text-field {
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
  }
  .div-block-3 {
    width: 100%;
    height: 45px;
  }
  .text-field-class {
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    background-color: #fff;
  }
  .no_data_block {
    display: block;
  }
  .home-menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .link-block {
    width: 200px;
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .div-block-4 {
    width: 100%;
    height: 45px;
  }
  .container-2 {
    padding: 11px 20px;
  }
  .container-3 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .filter-combination-container {
    display: block;
  }
  .filters-heading {
    margin-bottom: 17px;
    text-align: center;
  }
  .filter-row {
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 77%, .42);
  }
  .subfilter-buttons-container {
    width: auto;
    margin-top: 10px;
    margin-left: 0px;
  }
}

@media (max-width: 479px) {
  .artist-information-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container-2 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .artist-information-container-qucikstat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}