{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block body %}
    <h1>{{ pageTtitle }}</h1>
    <div class="row">
        <div class="col-sm-12">
            {% if pager.currentPageResults is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Venue</th>
                        <th>City</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in pager.currentPageResults %}
                    <tr>
                        <td>{{ row['location'] }}</td>
                        <td>{{ row['place'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagerfanta">{{ pagerfanta(pager, 'twitter_bootstrap3', { 'omitFirstPage': true }) }}</div>
            {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
