{% extends app.request.attributes.get('_route') == 'exhibition-stats-partial'
    ? 'Base/partial.html.twig'
    : 'Base/base.html.twig'
%}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
{% endblock %}

{% block body %}
    <h3 class="chart-header" data-collapse="container-artist-by-gender"><span class="chartsymbol">+</span>Gender Distribution <span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-artist-by-gender" style="width: 60%; height: auto; margin: 0;"></div>
    <h3 class="chart-header" data-collapse="container-age"><span class="chartsymbol">+</span>Artists’ Age at Exhibition Start<span class="charttypeTitle">(Bar Chart)</span></h3>
    <div class="collapse" id="container-age" style="width: 100%; height: auto; margin: 0"></div>
    <h3 class="chart-header" data-collapse="container-nationalities-pie"><span class="chartsymbol">+</span>Artists’ Nationality<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-nationalities-pie" style="width: 60%; height: auto; margin: 0;"></div>
    <h3 class="chart-header" data-collapse="container-exhibiting-pie"><span class="chartsymbol">+</span>Exhibiting Cities of Artists<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-exhibiting-pie" style="width: 100%; height: 400px; margin: 0 auto;"></div>
    <h3 class="chart-header" data-collapse="container-type"><span class="chartsymbol">+</span>Types of Work<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-type" style="width: 60%; height: auto; margin: 0;"></div>
    <h3 class="chart-header" data-collapse="container-nationality"><span class="chartsymbol">+</span>Catalogue Entries by Nationality<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-nationality" style="width: 60%; height: auto; margin: 0;"></div>

    {% import 'Shared/highcharts.html.twig' as highcharts %}
    {{ highcharts.head() }}
    <script src="{{ app.request.basepath }}/js/collapseChart.js"></script>


    <script type="text/javascript">
    {{ chart|raw }}
    </script>

    {% if app.request.attributes.get('_route') != 'exhibition-stats-partial' %}
    {{ helper.show_detailmodal() }}
    {% endif %}
{% endblock %}