{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block body %}

    <div class="w-container">

        <h1 class="heading">{{ pageTitle }}</h1>


        <div class="searchbarcontainer w-form">

            <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                <div class="searchbarinputcontainer">
                    {{ form_rest(form) }}
                </div>
                <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button">
                </div>
            </form>
        </div>
    </div>


    <div class="contentcontainer w-container">


        <div class="listviewrow">

            {# tabs headers #}
            {% embed "Person/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Person/Parts/tabcontent-person-list.html.twig" %}
                {% endembed %}

                {% embed "Person/Parts/tabcontent-map.html.twig" %}
                {% endembed %}

                {% embed "Person/Parts/tabcontent-stats-index.html.twig" %}
                {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>


{% endblock %}
