{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}
{% import 'Shared/map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}

    {{ helper.seealso_head_gnd() }}
{% endblock %}

{% block body %}
    <div class="contentcontainer nopadding w-container">
        <div class="lefthalf">
            <div class="subheader">holding institution</div>
            <h1 class="heading">{{ holder.nameAppend ? holder.nameAppend : holder.name }}</h1>
            {% if holder.nameAppend is not empty %}
                <h2 class="heading-append"><span class="small">{{ holder.name }}</span></h2>
            {% endif %}

            <div class="artist_information">
                {% embed "Holder/Parts/holder-base-information.html.twig" %}
                {% endembed %}
            </div>
        </div>
        <div class="maphalf">
            {% embed "Holder/Parts/holderMap.html.twig" %}
            {% endembed %}
        </div>
    </div>

    <div class="contentcontainer w-container">
        <div class="listviewrow">
            {# tabs headers #}
            {% embed "Holder/Parts/tabs-header.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Holder/Parts/tabcontent-catalogues.html.twig" %}
                {% endembed %}

                {% embed "Holder/Parts/tabcontent-authority.html.twig" %}
                {% endembed %}

                {% embed "Holder/Parts/tabcontent-statistics.html.twig" %}
                {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>
{% endblock %}
