<div role="tabpanel" class="tab-pane" id="statistics">
    {% import 'Shared/highcharts.html.twig' as highcharts %}
    {{ highcharts.head() }}

    <script src="{{ app.request.basepath }}/js/hinclude.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#container-exhibitions-city-bar').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} Publications (<b>{point.percentage:.1f}%</b>)'
                },
                plotOptions: {
                    pie: {
                    }
                },
                series: [{
                    name: 'City: ',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ dataNumberOfItemType[0]|raw }}
                }]
            });
        });
    </script>


    <h3 class="chart-header" data-collapse="container-exhibitions-city-bar"><span class="chartsymbol">+</span>Type of Publication<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-exhibitions-city-bar" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <script src="{{ app.request.basepath }}/js/collapseChart.js"></script>
</div>