{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block body %}
    <div class="w-container">
        <h1 class="heading">{{ pageTitle }}</h1>
    </div>

    <div class="contentcontainer w-container">
        <div class="listviewrow">
            {# tabs headers #}
            {% embed "User/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "User/Parts/tabcontent-queries.html.twig" %}
                {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>


{% endblock %}
