{% extends 'Base/base.html.twig' %}

{% block body %}
    <p>Information on how to reset your password has been sent to {{ to }}.</p>
    <p>If you don't get an E-Mail within the next few minutes, please check your spam filter.</p>
{% endblock %}