{% extends 'Base/base.html.twig' %}

{% block body %}
    <p>Due to technical problems, the information on how to reset your password could not be sent to you.</p>
    <p>Please <a href="{{ path('contact') }}">contact us</a> for further assistance.</p>
{% endblock %}